.jobSection {
  margin-top: 90px;
  font-family: "Inter", sans-serif;
}

.chilka {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.chilka2 {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}

.chilka div {
  grid-column-start: 2;
  margin-left: 14px;
}

.jobWrapper {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  gap: 40px;
  align-items: center;
}

.jobWrapper2 {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  gap: 40px;
  align-items: center;
}

.jobImagePortion img,
.jobImagePortion2 img {
  animation: float 3s alternate infinite;
  animation-delay: 2s;
}

@keyframes float {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

.subHeading,
.subHeading2 {
  font-weight: bold;
  font-size: 19px;
  color: #21282e;
}

.subHeading2 {
  display: none;
}

.heading {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1.2;
  color: #21282e;
  margin-block: 10px;
}

.tagline {
  color: #717275;
  font-weight: 300;
  font-size: 20px;
}

.innerWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 34px;
  column-gap: 15px;
  margin-top: 20px;
}

.item {
  display: flex;
  gap: 16px;
}

.item img {
  width: 75px;
  height: 75px;
  padding-inline: 15px;
  box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: 200ms;
}

.item img:nth-child(1) {
  width: 50px;
}

.item .itemDesc {
  color: #717275;
  font-size: 15px;
  line-height: 1.9;
}

.item .itemDesc span {
  color: #21282e;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .jobWrapper,
  .chilka,
  .chilka2,
  .jobWrapper2 {
    grid-template-columns: 1fr;
  }

  .jobContentPortion2 {
    grid-row-start: 2;
  }

  .jobImagePortion2 img {
    width: 60%;
  }

  .chilka div {
    margin-left: 0;
    grid-column-start: 1;
    margin-block: 18px;
  }

  .heading {
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 7px;
  }

  .jobImagePortion {
    margin-left: 0 !important;
  }

  .subHeading2 {
    display: block;
  }

  .item img {
    margin-top: 10px;
  }

  .item .itemDesc {
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .innerWrapper {
    grid-template-columns: 1fr;
  }

  .jobImagePortion2 img {
    width: 100%;
  }

  .heading {
    font-size: 28px;
    margin-bottom: 35px;
  }

  .tagline {
    font-size: 18px;
  }
}
