@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

main {
  padding-inline: 64px;
  padding-top: 16px;
  overflow: hidden;
}

.menu {
  display: flex;
  align-items: center;
}

.li {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 20px;
  transition: 200ms;
}

.li:hover {
  opacity: 0.6;
}

.btn__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Menu */
.hamburger {
  display: none;
}

.activeMenu {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* gap: 20px; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100vh - 90px);
  top: 90px;
  margin-inline: auto;
  z-index: 100;
  overflow: none;
  background: #e5e6e6;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    left: -50%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

/* Media Queries */
@media screen and (max-width: 1148px) {
  nav {
    flex-direction: column;
    align-items: start !important;
  }
}

@media screen and (max-width: 1100px) {
  nav {
    flex-direction: row;
  }

  .menu {
    display: none !important;
  }

  .btn__container {
    flex-direction: column;
    gap: 50px;
  }

  .hamburger {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  main {
    padding-inline: 50px;
  }
}

@media screen and (max-width: 400px) {
  main {
    padding-inline: 30px;
  }
}
